<app-bread-crumb
    [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
></app-bread-crumb>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul>
        <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
</div>

<div class="bd-callout bd-callout-info row m-0">
    <div class="col-auto me-auto">
        <h3 class="pt-2 text-black-50">{{pageTitle}}</h3>
    </div>
    <div class="col-auto pt-1">
        <a routerLink="../../new" class="btn btn-success">+ Nova Categoria</a>
    </div>
</div>



<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card mt-3 rounded-3 shadow-sm">
        <div class="card-header py-3 mb-3">
            <h4 class="my-0 fw-normal">Informações sobre a categoria</h4>
        </div>
        <div class="row m-1">
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="name" [ngClass]="{'is-invalid': f['name'].touched && f['name'].invalid}" >
                <small class="text-muted">Exemplo: Moradia</small>

                <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                    <div *ngIf="f['name'].errors && f['name'].errors['required']">O Campo nome é obrigatório.</div>
                    <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Deve conter no mínimo 3 caracteres.</div>
                </div>
            </div>

            <div class="col-md-6">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descricao" formControlName="description">
                <small class="text-muted">Exemplo: Pagamentos de conta da casa</small>
            </div>
            <div class="col-12">
            <button [disabled]="submittingForm || resourceForm.invalid" class="w-25 btn btn-primary btn-lg mt-3 mb-3 float-end" type="submit">Salvar</button>
            </div>
        </div>
    </div>
</form>